<div class="container-xl">
  <h2>Product List</h2>
  <br>
  <a [routerLink]="'/create'">Create New Product</a>
  <br>
  <br>
</div>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let item of listproduct">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>
      <button [routerLink]="'/edit/'+item.id">Edit</button>
    </td>
    <td>
      <button [routerLink]="'/delete/'+item.id">Delete</button>
    </td>
  </tr>

</table>
